.layout {
  display: flex;
}

.content {
  margin-left: 250px;

  width: 100%;

  padding: 25px;
}

.topbar {
  display: flex;

  justify-content: space-between;

  margin-bottom: 25px;
}

.usuario {
  background: white;

  padding: 10px 20px;

  border-radius: 8px;
}

.cards {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}

.card {
  background: white;

  padding: 25px;

  border-radius: 12px;

  box-shadow: 0 2px 8px #ddd;
}

.card strong {
  display: block;

  font-size: 35px;

  margin-top: 15px;
}

.painel {
  margin-top: 30px;

  background: white;

  padding: 25px;

  border-radius: 12px;
}

table {
  width: 100%;

  margin-top: 20px;

  border-collapse: collapse;
}

th,
td {
  padding: 15px;

  border-bottom: 1px solid #ddd;

  text-align: left;
}

.status {
  padding: 5px 10px;

  border-radius: 20px;

  font-size: 12px;
}

.verde {
  background: #dcfce7;

  color: #166534;
}

.amarelo {
  background: #fef3c7;

  color: #92400e;
}

//* ==========================================================
   DASHBOARD RESPONSIVO
========================================================== */

@media screen and (max-width:768px) {
  .content {
    margin-left: 0 !important;

    width: 100%;

    padding: 15px;
  }

  .topbar {
    display: flex;

    flex-direction: column;

    align-items: flex-start;

    gap: 15px;
  }

  .usuario {
    width: 100%;

    text-align: center;

    padding: 12px;
  }

  /* Cards */

  .cards {
    display: grid;

    grid-template-columns: repeat(2, minmax(0, 1fr));

    gap: 12px;

    margin-top: 15px;
  }

  .card {
    padding: 18px;

    border-radius: 12px;
  }

  .card h3 {
    font-size: 13px;

    margin-bottom: 10px;
  }

  .card strong {
    font-size: 28px;
  }

  /* Painéis */

  .painel {
    margin-top: 20px;

    padding: 15px;

    border-radius: 12px;

    overflow-x: auto;

    -webkit-overflow-scrolling: touch;
  }

  .painel h3 {
    font-size: 18px;

    margin-bottom: 15px;
  }

  table {
    width: max-content;

    min-width: 700px;

    border-collapse: collapse;
  }

  th {
    font-size: 13px;
  }

  td {
    font-size: 13px;
  }
}
